<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Name : </td>
            <td><input type="text"></td>
        </tr> 
        <tr>
            <td><b>{{vari}} :</b></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td><input type="Password"></td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input type="Email"></td>
        </tr>
    </table>
</body>
</html>